.switch-label {
    margin-top: 2rem;
    display: block;
    text-align: center;
}
.switch-label > * {
    display: inline-block;
    vertical-align: text-top;
}
.react-switch-handle {
    box-shadow: none !important;
}

.label-title, .label-status {
    line-height: 28px;
    font-size: 1.125rem;
}

.label-title {
    padding-right: 1rem;
}
.label-status {
    padding-left: 1rem;
    font-family: "Fira Mono", monospace;
}