/* card container */
.card-container {
    box-sizing: border-box;
    box-shadow: 0 0 0.5rem var(--shadow-color);
    border-radius: 8px;
    border: 1px solid var(--light-color);
    padding: 1.5rem;
}

/* card title */
.card-title {
    font-size: 2rem;
    /*font-weight: 600;*/
    padding: 0.5rem 0;
    text-align: center;
    letter-spacing: -.025rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--light-color);
}

/* card readings */
.card-container > div.readings {
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.card-container > div.readings > div.sensor-reading {
    display: inline-block;
    margin: 0 2rem;
    padding-top: 1.5rem;
}

/* card sliders */
.card-container > div.sliders {
    padding-top: 1.5rem;
    overflow: hidden;
    display: block;

}
.card-container > div.sliders > *:first-child > div {
    margin-top: 0;
}
.card-container > div.sliders > *:last-child > div {
    margin-bottom: 0;
}