/* footer css */
footer.footer {
    width: var(--container-width);
    padding: 1.25rem 0;
    margin: 0 calc((100% - var(--container-width)) / 2);
    overflow: hidden;
    text-align: center;
    border-top: 1px solid var(--light-color);
}
footer.footer > p {
    line-height: 2rem;
    font-size: 1.125rem;
}
footer.footer > p a {
    color: var(--link-color);
    text-decoration: none;
}
footer.footer > p a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}